html, body{
    margin: 0%;
    padding: 0%;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: system-ui;
    background-color: #f6efeb;
}
::selection{
    background-color: #f6d8d4;
}
.section6{
    width: 100%;
    height: 180%;
    background-color: #f6efeb;
}
#bg_color{
    background-color: #f6efeb;
    border-bottom: 1px solid #f18d7e48;
}
#bg_color a{
    color: #f18d7e;
    font-weight: 600;
}
.navbar-brand{
    position: relative;
    left: 2%;
}
.navbar-nav{
    position: relative;
    left: 75%;
}
.nav-item .dropdown-menu{
    background-color: #f6efeb;
    border: 1px solid #f18d7e48;
    border-radius: 0;
    position: relative;
    left: -150%;
}